@font-face {
  font-family: "ABC Sans";
  src: url("abcsans-regular.woff2") format('woff2');
}

@font-face {
  font-family: "ABC Sans";
  src: url("abcsans-black.woff2") format('woff2');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: 'ABC Sans', 'Helvetica', 'Arial', 'sans-serif';
}

/* Links */

a {
  transition: all 0.35s;
  color: #fdcc52;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fcbd20;
}
